In [2]:
%load_ext autoreload
%autoreload 2

from alpaca_api import AlpacaRequester
from tqdm import tqdm
import requests
import time

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
X = AlpacaRequester()

X.get_news(start="2025-04-01",end="2025-05-01",symbols=["AAPL",'NVDA','SPY'],include_content=False)

Fetching pages: 30it [00:04,  6.62it/s]

Wrote news to files

In [4]:
X = AlpacaRequester()

X.get_bars(symbols=["SPY,AAPL,NVDA,BRK.B,MSFT"],timeframe="5T",start="2025-04-01",end='2025-05-01',adjustment="all",feed="sip")

Fetching pages: 9it [00:02,  3.68it/s]

Wrote bars to files

In [5]:
calendar = X.market_calendar(start='0000-01-01',end='2026-01-01')
calendar

       close       date   open session_close session_open settlement_date
0      16:00 1970-01-02  09:30          2000         0400      1970-01-09
1      16:00 1970-01-05  09:30          2000         0400      1970-01-12
2      16:00 1970-01-06  09:30          2000         0400      1970-01-13
3      16:00 1970-01-07  09:30          2000         0400      1970-01-14
4      16:00 1970-01-08  09:30          2000         0400      1970-01-15
...      ...        ...    ...           ...          ...             ...
14122  13:00 2025-12-24  09:30          1700         0400      2025-12-26
14123  16:00 2025-12-26  09:30          2000         0400      2025-12-29
14124  16:00 2025-12-29  09:30          2000         0400      2025-12-30
14125  16:00 2025-12-30  09:30          2000         0400      2025-12-31
14126  16:00 2025-12-31  09:30          2000         0400      2026-01-02

[14127 rows x 6 columns]